@import url("https://fonts.googleapis.com/css2?family=Strait&display=swap");

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  font-family: "Strait", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
}

h1 {
  font-weight: 300;
  margin: 0;
}

header {
  background-color: black;
  color: white;
  padding: 1rem;
}

header a {
  color: white;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 1rem;
  margin: 0 auto;
  max-width: 1200px;
  padding: 1rem;
}

img {
  object-fit: cover;
  width: 100%;
  height: 250px;
  overflow: hidden;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.card {
  border: 1px solid lightgray;
  border-radius: 1rem;
  display: grid;
  grid-template-rows: 250px 1fr;
}

.card-image {
  align-items: center;
  display: flex;
  justify-content: center;
}

.card-title {
  background-color: #276074;
  color: white;
  border-radius: 0 0 1rem 1rem;
  margin: 0;
  padding: 1rem;
  text-align: center;
}

.card-title h3 {
  font-weight: 300;
}

.details-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.details-image {
  padding: 1rem;
  width: 200px;
}

.details {
  padding: 1rem;
  width: 350px;
}

.details h2 {
  font-size: 2rem;
  font-weight: 200;
  margin-bottom: 0;
}

.details h3 {
  font-family: "Strait", sans-serif;
  font-style: italic;
  font-weight: 200;
  margin-top: 0;
}

.details h4 {
  margin-bottom: 0;
}

.details p {
  margin: 0;
}

.read-more {
  background-color: black;
  color: white;
  display: inline-block;
  margin: 1rem 0;
  padding: 1rem;
}
